body{
    background-image: url("https://static.bandainamcoent.eu/high/one-piece/one-piece-odyssey/00-page-setup/OPOD_header_mobile_new.jpg");
}
.bg{
    background-color: darkcyan;
}
.container {
    max-width: 946px;
    margin: 47px auto;
    padding: 0 17px;
    background: white;
}
.post {
    padding: 2em 0 1em;
}
.post-image img {
    width: 100%;
    margin: 0 0 15px 0;
}
.post h1 {
    color: #748;
    font-weight: 450;
     margin-bottom: 37px;
}
.post-header {
    text-align: center;
}
.post-meta {
    margin-bottom: 26px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}
.post-meta:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 47%;
    transform: translateX(-50%);
    width: 35px;
    height: 2px;
    background: #748;
}
time,

.type {
    padding-right: 23px;
    position: relative;
}
time:after,
.type:after {
    content: "/";
    color: #875;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}
@media (min-width: 768px) {
    body {
        font-size: 19px;
    }
    .container {
        padding: 0 43px;
    }
    .post-image img {
        float: left;
        width: 570px;
        margin: 0 28px 19px -14px;
    }
}