esources
.footer-basic {
  padding:40px 0;
  background-color:#686;
  color:#975;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:15px;
  line-height:1.8;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:22px;
}

.footer-basic .social > a {
  font-size:28px;
  width:46px;
  height:46px;
  line-height:46px;
  display:inline-block;
  text-align:center;
  border-radius:43%;
  border:1px solid #dddd;
  margin:0 6px;
  color:inherit;
  opacity:0.67;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:18px;
  text-align:center;
  font-size:16px;
  color:#dddd;
  margin-bottom:0;
}