{% load static %}
<link rel="stylesheet" href="{% static 'css/footer_css.css' %}">
<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Main</a></li>
                <li class="list-inline-item"><a href="#">Service</a></li>
                <li class="list-inline-item"><a href="#">About Company</a></li>
                <li class="list-inline-item"><a href="#">Conditions</a></li>
                <li class="list-inline-item"><a href="#">Privacy Polisy</a></li>
            </ul>
            <p class="copyright">BMW 2023</p>
        </footer>
    </div>